.app-wrapper {
    li {
        list-style-type: none;
    }

    padding: 0 1rem;

    nav {
        padding: 1rem 0;

        & menu {
            font-size: 1.25rem;
            display: flex;
            gap: 5rem;
            justify-content: center;
            align-items: center;

            .navlink {
                color: rgb(2, 146, 146);

                &:hover {
                    color: rgb(3, 180, 180);
                }

                &.active {
                    color: rgb(3, 180, 180);
                }
            }
        }
    }
    .details-img{
        width: 200px;
    }
    .page {
        display: grid;
        grid-template-columns: 1fr 35vw;
        gap: 1rem;

        h2 {
            font-size: 2rem;
        }

        .list {
            padding: 0.5rem 0.5rem;
            ul {
                background-color: rgba(55, 58, 58, 0.5);
                padding: 0.25rem;
            }
            li {
                display: flex;
                padding: 0.25rem 0.5rem;
                align-items: center;

                &:hover {
                    background-color: rgba(63, 66, 66, 0.5);
                }

                .link {
                    display: grid;
                    color: rgb(2, 146, 146);

                    &:hover {
                        color: rgb(3, 180, 180);
                    }

                }

                .remove_btn {
                    font-size: 0.75rem;
                    margin-left: auto;
                }
            }

        }

        .add-new {
            display: grid;
            justify-items: center;
            align-content: start;
            gap: 1.5rem;

            label {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0.5rem;
                input{
                    width: 65%;
                }
                select {
                    min-width: 65%;
                }
                b{
                    width: 30%;
                }

            }

            button {
                width: 100%;

                &:disabled {
                    &:hover {
                        border-color: rgba(63, 66, 66, 0.5);
                    }
                }
            }    
        }
    }
    .not-found{
        height: 60vh;
        display: grid;
        place-content: center;
    }
}